[submodule "flutter_micro_front_base_app"]
	path = flutter_micro_front_base_app
	url = https://github.com/CleitonSilvaR/flutter-micro-front-base-app.git
	branch = main
[submodule "flutter_micro_front_micro_core"]
	path = flutter_micro_front_micro_core
	url = https://github.com/CleitonSilvaR/flutter-micro-front-micro-core.git
	branch = main
[submodule "flutter_micro_front_micro_app_login"]
	path = flutter_micro_front_micro_app_login
	url = https://github.com/CleitonSilvaR/flutter-micro-front-micro-app-login.git
	branch = main
[submodule "flutter_micro_front_micro_app_home"]
	path = flutter_micro_front_micro_app_home
	url = https://github.com/CleitonSilvaR/flutter-micro-front-micro-app-home.git
	branch = main
[submodule "flutter_micro_front_micro_commons_desing_system"]
	path = flutter_micro_front_micro_commons_desing_system
	url = https://github.com/CleitonSilvaR/flutter-micro-front-micro-commons-desing-system.git
	branch = main
